.container {
    height: 100vh;
}

.title {
    text-align: center;
    color: #8e892f;
    font-weight: 700;
    border: 1px solid #042b79;
    font-size: 18px;
}

.settingsContainer {
    border-bottom: 1px solid #042b79;
    height: 200px;
}

.settings {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    color: #8e892f;
    font-size: 18px;
    font-weight: 700;
}

.item {
    display: block;
    width: 250px;
}