.wrapper {
    display: flex;
    margin: 0 auto;
    padding-left: 10px;

}

.item {
    display: flex;
    width: 100%;
    color: white;
    font-weight: 700;
    padding: 5px;
}

.name {
    padding-left: 5px;
    width: 150px;
    color: white;
}
.priorityHigh {
    font-weight: 700;
    color: #fa0389;
    margin: 0 auto;
}
.priorityMiddle {
    font-weight: 700;
    color: #4269f1;
    margin: 0 auto;
}
.priorityLow {
    font-weight: 700;
    color: #00f807;
    margin: 0 auto;
}

.btnDel {
    border: 1px solid #070707;
    font-size: 9px;
    text-decoration: none;
    background: #050505;
    font-weight: 700;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    text-shadow: 0 1px 1px #aaa;
    cursor: pointer;
}

.btnDel:hover {
    background: #403d3d;
    border-color: #8000ff;
    box-shadow: 0 0 8px 0 #8000ff;
}
