.container {
    background-color: #050000;
    width: 400px;

}
.bntAll {
    margin: 10px;
}
.bnt {
    margin: 5px;
    border-radius: 5px;
    border:1px slateblue solid;
    background-color: slateblue;
    color: white;
    height: 20px;
    font-weight: 700;
    cursor: pointer;
}
.activeBnt {
    margin: 5px;
    border-radius: 5px;
    border:1px slateblue solid;
    background-color: #11027d;
    color: #61d2ef;
    height: 20px;
    font-weight: 700;
    cursor: pointer;
}